.section2 {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
}
.section2 .txtBox {
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.section2Title {
 display: flex;
 align-items: center;
}
.section2Title h3 {
 color: var(--main-color);
 font-size: 65px;
 font-family: var(--pretendard-bold);
 display: inline-block;
 
}
.section2Bulb {
 width: 100px;
 padding-bottom: 20px;
}
.section2Description p {
 color: #99847E;
 font-size: 40px;
 font-family: var(--pretendard-bold);
 padding-bottom: 7px;
 white-space: nowrap;
}
.section2Description span {
 color: var(--main-color);
 font-size: 50px;
 font-family: var(--pretendard-bold);
 padding-right: 8px;
}
.section2CloudBox {
 width: 40vw;
 height: 70vh;
 position: absolute;
 bottom: 0;
 right: 0;
 opacity: 0;
}
.section2Cloud {
 position: absolute;
}
.section2Cloud.index0 {
 right: -5%;
 top: 10%;
 transform: scale(0.8);
}
.section2Cloud.index1 {
 left: 0;
 top: 55%;
 transform: scale(0.9);
}

@media (max-width: 1280px) {
  .section2 .txtBox {
    left: 40%;
  }
  .section2Title h3 {
    font-size: 50px;
  }
  .section2Bulb {
    width: 80px;
  }
  .section2Description p {
    font-size: 24px;
  }
  .section2Description span {
    font-size: 30px;
  }
  .section2Cloud.index0 {
    transform: scale(0.5);
  }
  .section2Cloud.index1 {
    transform: scale(0.5);
  }
}
@media (max-width: 768px) {
  .section2 .txtBox {
    left: 50%;
  }
  .section2Title h3 {
    font-size: 40px;
  }
  .section2Bulb {
    width: 70px;
  }
  .section2Description p {
    font-size: 20px;
  }
  .section2Description span {
    font-size: 26px;
  }
  .section2Cloud.index0 {
    top: 30%;
  }
}
@media (max-width: 480px) {

}
