.section4 {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
}
.section4 .spotlightBg {
  width: 100%;
  height: 100dvh;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.section4 .spotlightBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.strategyBox {
  /* width: 50px;
  height: 50px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: clamp(50px, 5vw, 100px);
  align-items: center;
}
.strategyBox .imgBox {
  opacity: 0;
}
.strategyBox .imgBox img {
  width: 100%;
}
.strategyBox.index0 .imgBox {
  width: 600px;
}
.strategyBox.index1 .imgBox {
  width: 450px;
  height: 550px;
}
.strategyBox.index2 .imgBox {
  width: 560px;
}
.strategyBox.index3 .imgBox {
  width: 400px;
}
.appBox {
  display: flex;
  gap: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}
.strategyBox.index1 .imgBox img {
  /* phoneMockUp1,2 사용시 아래 width 주석 해제
  width: 46%; */
}
.phoneMockUp1 {
  position: absolute;
  top: 0;
  left: 0;
}
.phoneMockUp2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.phoneMockUp3 {
  
}
.strategyBox .txtBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  height: 400px;
  opacity: 0;
}

.strategyBox .txtBox .indexBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 70px;
}
.strategyBox .txtBox .indexBox img {}
.strategyBox .txtBox .bar {
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
}
.strategyBox .txtBox .title {
  padding-bottom: 70px;
}
.strategyBox .txtBox .title p {
  color: #fff;
  font-size: 50px;
  font-family: var(--pretendard-bold);
}
.strategyBox .txtBox .title span {
  color: var(--main-color);
}
.strategyBox .txtBox .description p {
  color: #fff;
  font-size: 20px;
  font-family: var(--pretendard-semiBold);
  word-break: keep-all;
  line-height: 1.4;
}
.strategyBox .txtBox .description span {
  color: var(--main-color);
}

@media (max-width: 1920px) {

}
@media (max-width: 1280px) {
  /* .strategyBox {
    gap: 40px;
  } */
  .strategyBox {
    width: 90vw;
    gap: clamp(20px, 4vw, 50px);
  }
  .strategyBox .imgBox {
    width: auto;
  }
  .strategyBox.index1 .imgBox {
    height: clamp(300px, 46.8vw, 550px);
  }
  .strategyBox .txtBox {
    /* height: clamp(300px, 10vw, 400px); */
    height: auto;
  }
  .strategyBox .txtBox .indexBox {
    padding-bottom: clamp(40px, 5vw, 70px);
  }
  .strategyBox .txtBox .indexBox img {
    width: clamp(140px, 14vw, 183px);
  }
  .strategyBox .txtBox .title {
    padding-bottom: clamp(40px, 5vw, 70px);
  }
  .strategyBox .txtBox .title p {
    font-size: clamp(30px, 4vw, 50px);
  }
  .strategyBox .txtBox .description p {
    font-size: clamp(14px, 1.6vw, 20px);
  }
}
@media (max-width: 768px) {
  .strategyBox {
    flex-direction: column;
    transform: translate(-50%, -45%);
    gap: 50px;
  }
  .strategyBox.index0 .imgBox {
    width: 90%;
    max-width: 400px;
  }
  .strategyBox.index1 .imgBox {
    width: 90%;
    max-width: 280px;
    height: 300px;
  }
  .strategyBox.index2 .imgBox {
    width: 90%;
    max-width: 300px;
  }
  .strategyBox.index3 .imgBox {
    width: 90%;
    max-width: 200px;
  }
  .strategyBox .txtBox {
    width: 90%;
    max-width: 400px;
  }
  .strategyBox .txtBox .indexBox {
    padding-bottom: 15px;
  }
  .strategyBox .txtBox .indexBox img {
    width: 120px;
  }
  .strategyBox .txtBox .title {
    padding-bottom: 10px;
  }
  .strategyBox .txtBox .description p {
    font-family: var(--pretendard-normal);
  }
}
@media (max-width: 480px) {
  .strategyBox {
    top: unset;
    left: unset;
    transform: none;
  }
  .strategyBox.index1 .imgBox {
    max-width: 200px;
    height: 230px;
  }
  .strategyBox.index2 .imgBox {
    /* max-width: 400px; */
  }
  .strategyBox .imgBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  .strategyBox.index2 .imgBox {
    transform: translate(-50%, -50%);
  }
  .strategyBox .txtBox {
    position: fixed;
    bottom: 9%;
    left: 50%;
    transform: translateX(-50%);
  }
  .strategyBox .txtBox .title p {
    font-size: 26px;
  }

}
