.section1 {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
}
.section1Bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100dvh;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.section1Bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section1 .txtBox {
  display: flex;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  flex-direction: column;
}
.section1 .txtBox.isTablet {
  bottom: 4vh;
}
.section1 .txtBox.isMobile {
  bottom: 4vh;
}
.section1 .title1 {
  color: #fff;
  font-weight: 700;
  font-size: 75px;
}
.section1 .title1.isLaptop {
  font-size: 40px;
}
.section1 .title1.isTablet {
  font-size: 34px;
}
.section1 .title1.isMobile {
  font-size: 24px;
}


.section1 .title2 {
  color: #fff;
  font-family: var(--pretendard-black);
  font-size: 127px;
  padding-bottom: 10px;
}
.section1 .title2.isLaptop {
  font-size: 70px;
}
.section1 .title2.isTablet {
  font-size: 60px;
}
.section1 .title2.isMobile {
  font-size: 40px;
}
.section1 .bigA {
  color: #fff;
  display: inline-block;
  transition: all 0.05s;
}

.section1 .title3 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
.section1 .title3.isLaptop {
  font-size: 18px;
}
.section1 .title3.isTablet {
  font-size: 16px;
}
.section1 .title3.isMobile {
  font-size: 14px;
}