.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.logo {
  
}
.logo img {
  width: 100%;
}
.nav ul {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
.navList {
  font-size: 18px;
  color: #fff;
  font-family: var(--pretendard-semiBold);
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.navList.active {
  color: var(--main-color);
}

@media (max-width: 1280px) {
  .header {
    flex-direction: column;
    padding: 20px 40px;
  }
  .logo {
    width: 200px;
  }
  .navList {
    font-size: 16px;
    font-family: var(--pretendard-normal);
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .nav ul {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 20px 20px;
  }
  .nav ul {
    gap: 0;
    width: 96vw;
    justify-content: space-between;
  }
  .navList {
    font-size: 14px;
    padding: 10px 14px;
  }
}
